::-webkit-scrollbar {
    display: none;
}

body{
    margin: 0px;
    padding: 30px;
    background-color: black;
    font-family: "Open Sans", sans-serif;
}

$color:white;
$color2:black;
$color3:#60606060;
$color4:#b4b4b4;